.folio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
  }
  
  .list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1em;
    width:20vw;
    padding: 1em;
    transition: 0.2s;
  }
  
  .list-item:hover {
    box-shadow: 0 0 4px 4px red;
  }
  
  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .editing {
    background-color: gray;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pie-chart {
    width: 70%px;
    height: 300px;
}

.line-chart {
    width: 70%;
    height: 300px;
}

.greenText:hover{
  color: #AAFF00;
}

.redText:hover{
  color:red;
}

.deleteOption{
  display: flex;
  justify-content: space-between;
}